---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout
	title="张泰的博客 | zhangt.ai"
	description="This template helps you build apps with Astro, Tailwind CSS, and shadcn/ui."
>
	<div class="max-w-3xl mx-auto px-6 py-16">
		<h1 class="text-3xl font-bold mb-12 text-foreground">Blog</h1>
		<div class="space-y-2">
			{
				posts.map((post) => (
					<article class=" border-b border-border">
						<div class="shrink-0 min-w-24 text-sm font-semibold tracking-widest text-muted-foreground">
							<FormattedDate date={post.data.pubDate} />
						</div>
						<div class="flex-1 min-w-0">
							<a href={`/blog/${post.id}/`}>
								<h2 class="text-lg font-semibold text-foreground hover:text-muted-foreground transition-colors duration-200 cursor-pointer line-clamp-2">
									{post.data.title}
								</h2>
							</a>
						</div>
					</article>
				))
			}
		</div>
	</div>
</BaseLayout>
