{{ define "main" }}
  
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:pb-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h1 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ .Title }}</h1>
            <div class="format format-lg">
              {{ .Content }}
            </div>
        </div>
        <div class="grid gap-8 lg:grid-cols-2">
          {{ range site.RegularPages }}
            <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
              <div class="flex space-x-2 items-center mb-5 text-gray-500">
                  {{ with .Params.tags }}
                    {{ range . }}
                      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                        <span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">
                          <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                          </svg>
                          {{ . }}
                        </span>
                      </a>
                    {{ end }}
                  {{ end }}
                  <span class="text-sm">{{ .Date.Format "January 2, 2006" }}</span>
              </div>
              <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white hover:underline"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
              <p class="mb-5 font-light text-gray-500 dark:text-gray-400 line-clamp-3">{{ .Summary }}</p>
              <div class="flex justify-between items-center">
                  <div class="flex items-center space-x-4">
                    <img class="w-7 h-7 rounded-full" src="{{ .Params.authorImage }}" alt="{{ .Params.author }} avatar" />
                    <span class="font-medium dark:text-white">
                        {{ .Params.author }}
                    </span>
                  </div>
                  <a href="{{ .RelPermalink }}" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                      Read more
                      <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </a>
              </div>
          </article> 
          {{ end }}
      </div>  
    </div>
  </section>

{{ end }}
