---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Separator } from "@/components/ui/separator";
import Recent from "@/components/Recent.astro";
import Info from "../components/info.astro";
---

<BaseLayout
  title="张泰的主页 | zhangt.ai"
  description="This template helps you build apps with Astro, Tailwind CSS, and shadcn/ui."
>
  <div class="bg-background w-full">
    <Info />
    <Separator />
    <Recent />
  </div>
</BaseLayout>
