[Unit]
Description=Bun Webhook Listener
After=network.target

[Service]
Type=simple
User=zhangtai
Environment=HOSTNAME=dmit
WorkingDirectory=/home/zhangtai/workspace/javascript/zhangt.ai/assets
ExecStart=/home/linuxbrew/.linuxbrew/bin/bun run webhook.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target
