---
import { Moon, Sun } from "lucide-react";
import { Button } from "@/components/ui/button";
---

<Button variant="ghost" size="icon" id="themeToggle">
  <Sun id="sunIcon" className="size-6" />
  <Moon id="moonIcon" className="size-5 hidden" />
  <span class="sr-only">Toggle theme</span>
</Button>

<script is:inline>
  const setInitialTheme = () => {
    const prefersDark = window.matchMedia(
      "(prefers-color-scheme: dark)",
    ).matches;
    const storedTheme = localStorage?.getItem("theme");
    const isDark = storedTheme ? storedTheme === "dark" : prefersDark;
    document.documentElement.classList.toggle("dark", isDark);
    updateJourneySVG(isDark);
    updateIcons(isDark);
  };

  const observeThemeChanges = () => {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
      updateJourneySVG(isDark);
      updateIcons(isDark);
    });

    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  };

  const updateIcons = (isDark) => {
    const sunIcon = document.getElementById("sunIcon");
    const moonIcon = document.getElementById("moonIcon");
    if (sunIcon && moonIcon) {
      sunIcon.style.display = isDark ? "none" : "inline";
      moonIcon.style.display = isDark ? "inline" : "none";
    }
  };

  const updateJourneySVG = (isDark) => {
    const svg = document.getElementById("journeySVG");
    if (svg) {
      svg.querySelectorAll("g#provinces path").forEach((path) => {
        path.style.fill = isDark ? "#FFFF00" : "#EE1C25";
      });
      svg.querySelectorAll("g#provinces path.visited").forEach((path) => {
        path.style.fill = isDark ? "#EE1C25" : "#FFFF00";
        path.style.stroke = isDark ? "#FFFF00" : "#EE1C25";
      });
    }
  };

  const setupToggleButton = () => {
    const button = document.getElementById("themeToggle");
    if (!button) return;

    button.addEventListener("click", () => {
      const isDark = document.documentElement.classList.toggle("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
      updateIcons(isDark);
      updateJourneySVG(isDark);
    });
  };

  setInitialTheme();
  observeThemeChanges();
  setupToggleButton();
</script>
