---
import { cn } from "@/lib/utils";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import HeadSEO from "@/components/HeadSEO.astro";

interface Props {
  title?: string;
  description?: string;
  ogImage?: URL;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body
    class={cn(
      "group/body overscroll-none antialiased [--footer-height:calc(var(--spacing)*14)] [--header-height:calc(var(--spacing)*14)] xl:[--footer-height:calc(var(--spacing)*24)]",
    )}
  >
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
